.navbar {
  height: 94px;
  z-index: 999;
  display: flex;
  align-items: center;
  // justify-content: center;
  background: var(--black);
  border-bottom: 2px solid var(--primary);

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
  }

  .left {
    img {
      display: flex;
      width: 168.45px;
      height: 40px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
  .right {
    button {
      color: white;
      background-color: transparent;
      border: 1px solid white;
      box-sizing: border-box;
      cursor: pointer;
      padding: 16px 24px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      outline: none;
      border-radius: 5px;
      text-decoration: none;
      display: inline-block;
      transition: opacity 0.3s;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    .left {
      img {
        width: 130.45px;
        height: 35px;
      }
    }
    .right {
      button {
        padding: 10px 15px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    .container {
      padding: 20px;
    }
    .left {
      img {
        width: 120px;
        height: 35px;
      }
    }
    .right {
      button {
        padding: 9px 10px;
      }
    }
  }
}
