.navbar {
  width: 100vw;
  height: 94px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--black);
  border-bottom: 2px solid var(--primary);

  .left {
    img {
      display: flex;
      width: 168.45px;
      height: 40px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
  .right {
    color: white;
    button {
      color: white;
      border: 1px solid red;
      box-sizing: border-box;
      cursor: pointer;
      padding: 16px 24px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      outline: none;
      border-radius: 5px;
      text-decoration: none;
      display: inline-block;
      transition: opacity 0.3s;

      &:hover,
      &:focus {
        opacity: 0.5;
      }
    }
  }
}
