.footer {
  background: var(--black);
  border-top: 2px solid var(--primary);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--white);
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 480px) {
  .name {
    font-size: 13px;
  }
}
