.video {
  .title_video {
    color: var(----color-gray-light, #f5f5f5);
    text-align: center;
    padding: 20px 0;
  }
  .form {
    margin-bottom: 50px;
    .inputs {
      display: flex;
      flex-direction: column;
      gap: 25px;

      input {
        padding: 10px;
        color: white;
        background-color: #53585d;
        border-radius: 4px;
      }
      ::placeholder {
        color: #c2c2c2;
      }
    }
  }
  .btns {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    .left {
      gap: 20px;
      display: flex;
      .save {
        width: 180px;
        height: 54px;
        flex-shrink: 0;
        background-color: #2a7ae4;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 21px;
        cursor: pointer;
      }
    }
    .right {
      button {
        width: 180px;
        height: 54px;
        flex-shrink: 0;
        background-color: #2a7ae4;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 21px;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .video {
    .btns {
      .left {
        .save {
          width: 130px;
          height: 54px;
          font-size: 15px;
        }
      }
      .right {
        button {
          width: 130px;
          height: 54px;
          font-size: 15px;
        }
      }
    }
  }
}
